<template>
  <div>
    <p>Câu 1: Viết chương trình đệ quy tính tổng các số từ 1 đến n, với n là một số cho trước.</p>
    <p>Đáp án: {{ test1(10) }}</p>
    <br />
    <p>Câu 2: Cho một dãy số [1, 25, 7, -7, -3, 12, -22, 0]</p>
    <p>1. Sử dụng JavaScript để sắp xếp dãy số theo thứ tự tăng dần.</p>
    <p>Kết quả: [-22, -7, -3, 0, 1, 7, 12, 25]</p>
    <p>Kết quả: {{ ascending(input_test_2) }}</p>
    <p>2. Sắp xếp dãy số tăng dần theo giá trị tuyệt đối (trong trường hợp số 2 số bằng nhau thì số âm được ưu tiên đứng trước)</p>
    <p>Kết quả: [0, 1, -3, -7, 7, 12, -22, 25]</p>
    <p>Kết quả: {{ absolute_increase(input_test_2) }}</p>
    <br />
    <p>Câu 3: Viết hàm sử dụng regex biến đổi url theo định dạng mong muốn. Hàm này có mục tiêu làm thay đổi kích thước ảnh theo các tỷ lệ đã được định nghĩa trước:</p>
    <pre>Input :{{ JSON.stringify(input_test_3, null, 2) }}</pre>
    <pre>Output :{{ JSON.stringify(modify_url(input_test_3), null, 2) }}</pre>\

  </div>
</template>
<script setup>
//Test 1
const test1 = (n) => {
  if (n === 0) {
    return 0;
  } else {
    return n + test1(n - 1);
  }
}

const input_test_2 = ref([1, 25, 7, -7, -3, 12, -22, 0])
//Test_2.1
const ascending = (array) => {
  let array_copy = [...array]
  for (let i = 0; i < array_copy.length - 1; i++) {
    for (let j = 0; j < array_copy.length - i - 1; j++) {
      if (array_copy[j] > array_copy[j + 1]) {
        let temp = array_copy[j];
        array_copy[j] = array_copy[j + 1];
        array_copy[j + 1] = temp;
      }
    }
  }
  return array_copy
}

//Test_2.2
const absolute_increase = (array) => {
  let array_copy = [...array]
  for (let i = 0; i < array_copy.length - 1; i++) {
    for (let j = 0; j < array_copy.length - i - 1; j++) {
      const absA = array_copy[j] < 0 ? -array_copy[j] : array_copy[j];
      const absB = array_copy[j + 1] < 0 ? -array_copy[j + 1] : array_copy[j + 1];

      if (absA > absB || (absA === absB && array_copy[j] < array_copy[j + 1])) {
        const temp = array_copy[j];
        array_copy[j] = array_copy[j + 1];
        array_copy[j + 1] = temp;
      }
    }
  }
  return array_copy;
}

//test_3
const input_test_3 = ref([
  {
    "input": "https://cdn.shopify.com/e.jpg?v=15",
    "output": "https://cdn.shopify.com/e_100x.jpg?v=15",
    "size": "100x"
  },
  {
    "input": "https://cdn.shopify.com/e_100x200.jpg?v=15",
    "output": "https://cdn.shopify.com/e_x200.jpg?v=15",
    "size": "x200"
  },
  {
    "input": "https://cdn.shopify.com/e-jpg_200x100.jpg?v=15",
    "output": "https://cdn.shopify.com/e-jpg_100x.jpg?v=15",
    "size": "100x"
  },
  {
    "input": "https://cdn.shopify.com/100xMacBook.jpg_640x640_3_result_100x.jpg?v=15",
    "output": "https://cdn.shopify.com/100xMacBook.jpg_640x640_3_result_x100.jpg?v=15",
    "size": "x100"
  },
  {
    "input": "https://cdn.shopify.com/e-800x600-jpg.jpg?v=15",
    "output": "https://cdn.shopify.com/e-800x600-jpg_100x200.jpg?v=15",
    "size": "100x200"
  }
])


const modify_image_URL = (inputURL, size) => {
  const pattern = new RegExp(`(_\\d{1,4}x|_x\\d{1,4}|_\\d{1,4}x\\d{1,4})(?=\\.[a-zA-Z]{3,4}\\?v=\\d+)`);
  const match = inputURL.match(pattern);
  if (match) {
    const modifiedURL = inputURL.replace(pattern, `_${size}`);
    return modifiedURL;
  } else {
    const extensionIndex = inputURL.lastIndexOf(".jpg");
    if (extensionIndex !== -1) {
      const modifiedURL = inputURL.slice(0, extensionIndex) + `_${size}` + inputURL.slice(extensionIndex);
      return modifiedURL;
    } else {
      return "URL format not supported!";
    }
  }
}
const modify_url = (array) => {
  let array_copy = [...array]
  let result = []
  array_copy.forEach(item => {
    result.push({
      input: item.input,
      output: item.output,
      result: modify_image_URL(item.input, item.size),
      size: item.size
    })
  })
  return result
}
</script>
